Repository b4nst/warp-pipes: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --parser markdown --write, prettier-package-json --write

.lintstagedrc:

{
  "*.js": ["eslint --fix", "prettier --write", "git add"],
  "*.json": ["prettier --write", "git add"],
  "*.md": ["prettier --parser markdown --write", "git add"],
  "package.json": ["prettier-package-json --write", "git add"]
}

✨ add filter refinery
  .eslintrc
  .flowconfig
  package.json
  src/main/refineries/filter.js
  src/main/types.js
  src/test/.eslintrc
  src/test/refineries/filter.test.js
  yarn.lock
Due: eslint --fix, prettier --write, prettier-package-json --write

✨ add chunk transform
  flow-typed/npm/chance_v1.x.x.js
  flow-typed/npm/eslint-plugin-flowtype_vx.x.x.js
  flow-typed/npm/event-to-promise_vx.x.x.js
  flow-typed/npm/lodash_v4.x.x.js
  flow-typed/npm/stream-mock_vx.x.x.js
  src/main/refineries/chunk.js
  src/main/refineries/index.js
  src/main/refineries/map.js
  src/main/types.js
  src/test/refineries/chunk.test.js
  src/test/refineries/map.test.js
Due: eslint --fix, prettier --write

✨ add block until transformer
  src/main/refineries/index.js
  src/main/transformers/block-until.js
  src/main/transformers/chunk.js
  src/main/transformers/filter.js
  src/main/transformers/index.js
  src/main/transformers/map.js
  src/main/types.js
  src/test/transformers/block-until.test.js
  src/test/transformers/chunk.test.js
  src/test/transformers/filter.test.js
  src/test/transformers/map.test.js
Due: eslint --fix, prettier --write

:sparkles: add pass until transformer
  src/main/transformers/pass-until.js
  src/test/transformers/pass-until.test.js
Due: eslint --fix, prettier --write

:bug: fix tests
  src/main/transformers/index.js
  src/test/transformers/block-until.test.js
  src/test/transformers/filter.test.js
  src/test/transformers/map.test.js
Due: eslint --fix, prettier --write

:wrench: index should be a flow file
  src/main/transformers/index.js
Due: eslint --fix, prettier --write

:construction: wip
  src/main/complex-streams/complex-stream.js
  src/main/complex-streams/condition-writable.js
  src/main/complex-streams/index.js
  src/main/complex-streams/splitter.js
  src/main/complex-streams/stream-wrap.js
  src/main/types.js
  src/test/complex-streams/multi-stream.js
Due: eslint --fix, prettier --write

🚧 wip
  package.json
  src/main/complex-streams/complex-stream.js
  src/main/complex-streams/index.js
  src/main/complex-streams/stream-wrap.js
  src/main/index.js
  src/main/transformers/block-until.js
  src/main/transformers/drop-while.js
  src/main/transformers/index.js
  src/main/transformers/pass-until.js
  src/main/transformers/take-while.js
  src/main/types.js
  src/test/complex-streams/multi-stream.js
  src/test/complex-streams/stream-wrap.test.js
  src/test/index.test.js
Due: eslint --fix, prettier --write, prettier-package-json --write

♻️ refactor and test dropWhile transformer
  flow-typed/npm/sinon_vx.x.x.js
  package.json
  src/main/complex-streams/stream-wrap.js
  src/main/types.js
  src/test/complex-streams/stream-wrap.test.js
  src/test/transformers/block-until.test.js
  src/test/transformers/dropWhile.test.js
  yarn.lock
Due: eslint --fix, prettier --write, prettier-package-json --write

✅ add tests
  src/main/complex-streams/complex-stream.js
  src/main/complex-streams/index.js
  src/main/complex-streams/splitter.js
  src/main/complex-streams/stream-wrap.js
  src/main/transformers/index.js
  src/test/complex-streams/complex-stream.test.js
  src/test/complex-streams/stream-wrap.test.js
  src/test/index.test.js
  src/test/transformers/chunk.test.js
  src/test/transformers/drop-while.test.js
  src/test/transformers/filter.test.js
  src/test/transformers/map.test.js
  src/test/transformers/pass-until.test.js
  src/test/transformers/take-while.test.js
Due: eslint --fix, prettier --write

:construction_worker: add travis
  .travis.yml
  package.json
Due: prettier --write, prettier-package-json --write

:construction_worker: add code climate
  .travis.yml
Due: none

:construction_worker: add node 6 support
  .travis.yml
Due: none

:bug: temp fix for nodejs 6
  src/test/transformers/drop-while.test.js
  src/test/transformers/filter.test.js
  src/test/transformers/map.test.js
  src/test/transformers/take-while.test.js
Due: eslint --fix, prettier --write

:memo: add README
  README.md
Due: prettier --parser markdown --write

:green_heart: fix compatibility
  test/complex-streams/ComplexStreams.test.ts
  test/complex-streams/ReadableWrap.test.ts
  test/tslint.json
Due: prettier --write

:memo: add badges
  README.md
Due: prettier --parser markdown --write

:bookmark: release 0.1.0
  package.json
Due: prettier --write, prettier-package-json --write

:truck: rename project
  README.md
  package.json
Due: prettier --write, prettier --parser markdown --write, prettier-package-json --write

:memo: add logo
  README.md
Due: prettier --parser markdown --write

🐛 fix build
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write, prettier-package-json --write

🔖 release 0.1.1
  package.json
Due: prettier --write, prettier-package-json --write

🔧 fix registry in yarn.lock
  yarn.lock
Due: none

✨ add flatten transform
  src/complex-streams/ReadableWrap.ts
  src/transformers/Flatten.ts
  src/transformers/index.ts
  test/complex-streams/ReadableWrap.test.ts
  test/transformers/Flatten.test.ts
Due: none

📝 add jsdoc
  src/transformers/Chunk.ts
  src/transformers/DropWhile.ts
  src/transformers/Filter.ts
  src/transformers/Flatten.ts
  src/transformers/Map.ts
  src/transformers/TakeWhile.ts
Due: none

🔖 release 0.2.0
  package.json
Due: prettier --write, prettier-package-json --write

📝 Add flatten to readme
  README.md
Due: prettier --parser markdown --write

🔖 release 0.2.1
  package.json
Due: prettier --write, prettier-package-json --write

🐛 fix _flush accessibility
  src/transformers/Chunk.ts
  yarn.lock
Due: none

🐛 fix registry
  yarn.lock
Due: none

discontinued
  README.md
Due: prettier --parser markdown --write
